@import "compass/css3";

@import url(http://fonts.googleapis.com/css?family=Romanesco);
$backdrop: #2B1E45; 
$backdrop-light: rgba(49, 134, 204, 0.5); 
$backdrop-dark: rgba(28, 77, 117, 0.8); 
$paper:#FCF5C7; 
$paper-border: #CCC6A1; 
$paper-texture: url("https://photos-4.dropbox.com/t/2/AABPRvOMmmcKEVB0eiikHyaGTy_TM9GhADFMGTlCNM2Bfw/12/118377/jpeg/1024x768/3/1421863200/0/2/2014-09-24%2018.25.58.jpg/COmcByADIAIgASgCKAE/RJ3iVRsSbw-OxuI90XUMW62Xhe47RFysldcImfMYKz8"); 
$romanesco: 'Romanesco', cursive;

html{ 
  height: 100%; 
  @include background-image(linear-gradient(top, $backdrop-light, $backdrop-dark 70%));
}
  
.paper{ 
  background-color: $paper; 
  width: 70%;
  padding: 4em 0; 
  margin: 10%; 
  position: relative; 
  height: auto;  
  border: 2px solid $paper-border; 
  div{
    width: 100%;
    text-align: center; 
  }
  h1{
    font: 4em bold $romanesco;
    margin-top: 0.5em;
  }
} 

.overlay {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:  $paper-texture; 
    opacity: 0.8; 
    z-index:9999;
}